body {
  font-family: "Segoe UI";
  background: linear-gradient(to right, #1f4037, #99f2c8);
  margin: 0;
  padding: 0;
}

header {
  background: #111;
  color: white;
  padding: 15px;
  font-size: 24px;
  text-align: center;
}

#products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  background: white;
  width: 220px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

button {
  background: #1f4037;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
}
